<div class="container">
    <h2>configuration de compte</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="prenom">sujet</label>
            <input id="prenom" formControlName="prenom" class="form-control" required>

            <div *ngIf="!form2.prenom.valid && (form2.prenom.dirty ||form2.prenom.touched)">
                <div [hidden]="!form2.prenom.errors.required" class="alert alert-danger py-2 mt-3">
                    Le sujet est obligatoire
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="commentaire">Commentaire</label>
            <textarea id="commentaire" formControlName="commentaire" class="form-control" rows="3" ngModel></textarea>
        </div>

        <input type="submit" class="btn btn-primary" value="Envoyer">
        <div *ngIf="validMessage != ''" class="text-danger text-center">
            <h3 class="has-info">{{validMessage}}</h3>
        </div>
    </form>
</div>

<hr>