<div class="container">
  <h2>configuration de compte</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input id="prenom" formControlName="prenom" class="form-control" required>
      <!--c'est une banane-->

      <div *ngIf="!form2.prenom.valid && (form2.prenom.dirty ||form2.prenom.touched)">
        <div [hidden]="!form2.prenom.errors.required" class="alert alert-danger py-2 mt-3">
          Le nom est obligatoire
        </div>
        <div [hidden]="!form2.prenom.errors.minlength" class="alert alert-danger py-2 mt-3">
          Le nom doit être d'au moins 4 charactères
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="motdepasse">mot de passe</label>
      <input type="password" id="motdepasse" formControlName="motdepasse" class="form-control" />
      <div *ngIf="!form2.motdepasse.valid && (form2.motdepasse.dirty ||form2.motdepasse.touched)">
        <div [hidden]="!form2.motdepasse.errors.required" class="alert alert-danger py-2 mt-3">
          Le mot de passe est obligatoire
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="methodepaiment">méthode de paiment</label>
      <select class="form-control" id="methodepaiment" formControlName="methodepaiment">
        <option>cash</option>
        <option>mastercard</option>
        <option>visa</option>
      </select>
      <div *ngIf="!form2.methodepaiment.valid && (form2.methodepaiment.dirty ||form2.methodepaiment.touched)">
        <div [hidden]="!form2.methodepaiment.errors.required" class="alert alert-danger py-2 mt-3">
          Le methode de paiment est obligatoire
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="commentaire">Commentaire</label>
      <textarea id="commentaire" formControlName="commentaire" class="form-control" rows="3" ngModel></textarea>
    </div>

    <button class="btn btn-primary">envoyer</button>
    <div *ngIf="validMessage != ''" class="text-danger text-center">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
  </form>
</div>

<hr>