<h1 class="text-center">Bienvenue!</h1>
<hr>
<h2 class="text-center">cette page internet vien décrir mes aptitudes concernant les sujets suivants</h2>
<hr>
<ul class="list-unstyled text-center">
    <li>Bootstart</li>
    <li>HTML</li>
    <li>css</li>
    <li>TypeScript</li>
    <li>Angular</li>
    <li>Json</li>
</ul>
<hr>
<h1 class="p-5 text-center">C'est les vancances, boire, manger, fêter. Tout est à faire!</h1>
<hr>
<h1 class="p-5 text-success text-center">Je vous souhaite jouyeux noël et bonne chance pour la correction monsieur</h1>
<hr>
<h2 class="p-5 text-center">je vais pennser à vous lorsque je vais prendre mon shooter de vodka au jour du nouvelle an</h2>